# This file specifies files that are *not* uploaded to Google Cloud
# using gcloud. It follows the same syntax as .gitignore, with the addition of
# "#!include" directives (which insert the entries of the given .gitignore-style
# file at that point).
#
# For more information, run:
#   $ gcloud topic gcloudignore

.gcloudignore

# If you would like to upload your .git directory, .gitignore file
# or files from your .gitignore file, remove the corresponding line below:
.git
.gitignore
#!include:.gitignore

# Ensure the dist directory is included (where build output goes)
!dist/

# backup files typically ending with a tilde (~)
*~

# node_modules directory, which contains package dependencies
/node_modules/

# e2e directory used for end-to-end tests
/e2e/

# hidden files and directories (e.g., .env, .gitconfig) and configuration files
^(.*/)?\..*$

# all JSON files
#^(.*/)?.*\.json$

# all Markdown files (README/text files)
^(.*/)?.*\.md$

# all YAML files
**/*.yaml$

# except for `app.yaml`
!app.yaml

# LICENSE file
^LICENSE