<div class="forgot-password-container">
    <div class="forgot-password-content">
      <h1>Solicitar Contraseña</h1>
      <p>Por favor, ingresa tu correo registrado y configura una nueva contraseña.</p>
      
      <form [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit()">
        <mat-form-field class="full-width" appearance="outline">
          <mat-label>Email</mat-label>
          <input matInput formControlName="email" />
          <mat-error *ngIf="submitted && !forgotPasswordForm.get('email')?.value">
            Debes ingresar un email.
          </mat-error>
          <mat-error *ngIf="submitted && forgotPasswordForm.get('email')?.hasError('email')">
            Formato de email inválido.
          </mat-error>
        </mat-form-field>
        
        <mat-form-field class="full-width" appearance="outline">
          <mat-label>Nueva Contraseña</mat-label>
          <input
            matInput
            formControlName="password"
            [type]="hidePassword ? 'password' : 'text'"
          />
          <button mat-icon-button matSuffix type="button" (click)="hidePassword = !hidePassword">
            <mat-icon>{{ hidePassword ? 'visibility_off' : 'visibility' }}</mat-icon>
          </button>
          <mat-error *ngIf="submitted && forgotPasswordForm.get('password')?.hasError('minlength')">
            La contraseña debe tener al menos 8 caracteres.
          </mat-error>
        </mat-form-field>
  
        <mat-form-field class="full-width" appearance="outline">
          <mat-label>Confirmar Contraseña</mat-label>
          <input
            matInput
            formControlName="confirmPassword"
            [type]="hideConfirmPassword ? 'password' : 'text'"
          />
          <button mat-icon-button matSuffix type="button" (click)="hideConfirmPassword = !hideConfirmPassword">
            <mat-icon>{{ hideConfirmPassword ? 'visibility_off' : 'visibility' }}</mat-icon>
          </button>
          <mat-error *ngIf="submitted && forgotPasswordForm.get('confirmPassword')?.value !== forgotPasswordForm.get('password')?.value">
            Las contraseñas no coinciden.
          </mat-error>
        </mat-form-field>
        
        <div class="buttons-form">
          <button mat-raised-button color="primary" type="submit" [disabled]="isLoading">
            Enviar Solicitud
          </button>
        </div>
      </form>
    </div>
    
    <div *ngIf="isLoading" class="spinner-container">
      <mat-spinner diameter="100" value="60" strokeWidth="10"></mat-spinner>
    </div>

  </div>
  