<div class="login-container">
   
  <!--LEFT LOGIN CONTAINER-->
  <div class="login-left">

      <div class="login-left-content">
      
      <h1>Iniciar sesión</h1>

      <p>Nos alegra tenerte de vuelta y estamos listos para <br>atender tus necesidades. Inicia sesión y continúa <br> aprovechando al máximo nuestra plataforma.</p>
        <ul class="custom-list">
          <li> 
            <img src="assets/login/icon1.png" alt="">
            Monitoreo integral
            <br>
            Administra, monitorea múltiples plantas de forma centralizada.</li>

          <li>
           <img src="assets/login/icon2.png" alt="">
            Notificaciones en tiempo real
            <br>
            Recibe notificaciones sobre las mediciones.</li>
        </ul>
    </div>

    </div>

  <!--RIGHT LOGIN CONTAINER-->
    <div class="login-right">
     
     <div class="login-right-content">

      <div class="title-right">
          <h1>Portal de monitoreo</h1>
          <h2>Iniciar Sesión</h2>
      </div>


      <!--FORM LOGIN-->
      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <mat-form-field class="full-width" appearance="outline">
          <mat-label>Email</mat-label>
          <input matInput formControlName="email" />
          <mat-error *ngIf="submitted && loginForm.get('email')?.hasError('email')">
            Ingrese un email válido.
          </mat-error>
        </mat-form-field>
      
        <mat-form-field class="full-width" appearance="outline">
          <mat-label>Contraseña</mat-label>
          <input matInput formControlName="password" [type]="hide ? 'password' : 'text'" />
          <button mat-icon-button matSuffix (click)="hide = !hide">
            <mat-icon>{{ hide ? 'visibility_off' : 'visibility' }}</mat-icon>
          </button>
          <mat-error *ngIf="submitted && loginForm.get('password')?.hasError('minlength')">
            La contraseña debe tener al menos 8 caracteres.
          </mat-error>
        </mat-form-field>
      
          <div class="buttons-form">
            <a href="#">¿Olvidaste tu contraseña?</a>
           
            <button mat-raised-button color="primary" type="submit">
              Iniciar sesión
           
            </button>
          </div>
        </form>

      <div class="captcha">
        <p>Protegido por reCAPTCHA y sujeto a la 
          <a href="#">Política de Privacidad</a>
            y 
         <a href="#">Condiciones.</a>
        </p>
      </div>

   </div>

 </div>


 
  
